<table>
  <%= link_to "Add New Number", new_number_path %>
  <thead>
    <tr>
      <th>Number</th>
      <th>To</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @numbers.each do |number| %>
      <tr>
        <td><%= number.number.phony_formatted %></td>
        <td><%= number.phone.number.phony_formatted %></td>
        <td><%= link_to 'edit', edit_number_path(number) %></td>
        <td><%= link_to 'delete', number_path(number), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
